<!DOCTYPE html>
<html>
<head>
	<title>Satara Tourism</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-white">

<div class="container bg-light mt-3 pt-3 pb-3" style="box-shadow: 1px -1px 5px 0.2px grey">

<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Satara Tourism API</a>
</nav>


 <div class="card mt-5">
    <div class="card-body text-center"><h1 class="display-4"><i class="fa fa-car" style="color:#5456" aria-hidden="true"></i> Satara Tourism API <i class="fa fa-car" style="color:#5456" aria-hidden="true"></i>
</h1></div>
 </div>

<div class="mt-5">
<p>If you want to add Tourism information about satara to your website or app then you've come to the right place!</p>
This Application Programming Interface (API) allows a web or mobile developer to use the Tourism data in their web or mobile application(s).
<p>
	I created a public, fast and clean REST API that's easy to use, returns JSON.I gathered all destination data from different website.
</p>

<p><strong>I created this API for learning purpose.</strong></p>
</div>



<div class="card">
	<div class="card-body">
<h2>Endpoints</h2>

<h5>Show main information -  </h5>

<p>Retrieve all primary information for a given place. This endpoint allows embedding of additional information
</p>

<ul>
<li><p>
	<strong>URL:</strong>  /api/{id}
</p></li>

<li><strong>Example:</strong>
  <a href="https://sataratourism-api.herokuapp.com/api/1/"> https://sataratourism-api.herokuapp.com/api/1/ </a></li>

</ul>

</div>
</div>


</div>


</body>
</html>
